$conf-oper
  display: inline-block
  margin-top: 30px
  cursor: pointer
  .text
    margin-top: 20px
    font-size: 16px
  .icon
    padding: 12px
    font-size: 28px
    color: #fff
    background-color: red
    border-radius: 100%
    border: 1px solid transparent
    transition: all 0.3s ease
    &:hover
      background-color: red - 10%
      border: 1px solid transparent