.icon-settings:before {
  content: "\e68a"
}

.icon-qunzuduoren:before {
  content: "\e6d6"
}

.icon-people:before {
  content: "\e736"
}

.icon-yun:before {
  content: "\e78d"
}

.icon-shezhi:before {
  content: "\e64b"
}

.icon-duoren:before {
  content: "\e71d"
}

.icon-xinjianhuiyi:before {
  content: "\e62c"
}

.icon-record:before {
  content: "\e669"
}

.icon-shouye:before {
  content: "\e631"
}

.icon-xiaoxi:before {
  content: "\e639"
}

.icon-sousuo:before {
  content: "\e633"
}

.icon-close:before {
  content: "\e64d"
}

.icon-upload:before {
  content: "\e61a"
}

.icon-info:before { 
  content: "\e63f" 
}

.icon-add:before { 
  content: "\e78f" 
}

.icon-warn:before { 
  content: "\e6c7"
}

.icon-error:before { 
  content: "\e74e"
}
