.icon-settings:before { content: "\e68a" }

.icon-attachment-l:before { content: "\e6a7" }

.icon-image-x:before { content: "\e62f" }

.icon-qunzuduoren:before { content: "\e6d6" }

.icon-people:before { content: "\e736" }

.icon-add:before { content: "\e767" }

.icon-user:before { content: "\e62a" }

.icon-mic-off:before { content: "\e676" }

.icon-info:before { content: "\e693" }

.icon-new-file:before { content: "\e647" }

.icon-yun:before { content: "\e78d" }

.icon-password-reset:before { content: "\e60a" }

.icon-edit-file:before { content: "\e67c" }

.icon-detete-x:before { content: "\e619" }

.icon-radio-checked:before { content: "\e605" }

.icon-shezhi:before { content: "\e64b" }

.icon-duoren:before { content: "\e71d" }

.icon-radio:before { content: "\e7d4" }

.icon-password-x:before { content: "\e684" }

.icon-close-o:before { content: "\e74e" }

.icon-exit-c:before { content: "\e64f" }

.icon-volume-off:before { content: "\e698" }

.icon-volume:before { content: "\e662" }

.icon-volumeoff:before { content: "\e694" }

.icon-warning:before { content: "\e6c8" }

.icon-exit:before { content: "\e632" }

.icon-next:before { content: "\e634" }

.icon-volume-o:before { content: "\e626" }

.icon-password:before { content: "\e7dc" }

.icon-attachment:before { content: "\e7e2" }

.icon-xinjianhuiyi:before { content: "\e62c" }

.icon-create:before { content: "\e603" }

.icon-finish:before { content: "\e602" }

.icon-flag-selected:before { content: "\e63c" }

.icon-flag:before { content: "\e63d" }

.icon-mic:before { content: "\e67e" }

.icon-pre:before { content: "\e61c" }

.icon-loading:before { content: "\e668" }

.icon-record:before { content: "\e669" }

.icon-flag-old:before { content: "\e73c" }

.icon-image:before { content: "\e63b" }

.icon-shouye:before { content: "\e631" }

.icon-message:before { content: "\e639" }

.icon-sousuo:before { content: "\e633" }

.icon-delete:before { content: "\e658" }

.icon-edit:before { content: "\e686" }

.icon-close:before { content: "\e64d" }

.icon-upload:before { content: "\e61a" }

.icon-error:before { content: "\e680" }

.icon-add-o:before { content: "\e78f" }

.icon-search:before { content: "\e7e3" }

.icon-cloud:before { content: "\e7e4" }

.icon-home:before { content: "\e7e5" }

.icon-flag-selected-old:before { content: "\e7e6" }
