bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

/*扩展鼠标点击区域*/
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px

clear-fix()
  &:after
    content: ''
    display: table
    clear: both
    height: 0
    visibility: hidden

placeholder-color($color)
  &::-webkit-input-placeholder
    color: $color
  &:-moz-placeholder
    color: $color
  &::-moz-placeholder
    color: $color
  &:-ms-input-placeholder
    color: $color

text-ellipsis()
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

