// 颜色定义规范
$color-background = #212187
$color-background-l = #00AEFF
$color-background-d = #7D91C2

$color-base-background = #f6f7fd
$color-normal-background = #FCFAFB
$color-highlight-background = #3C78E6

$color-border-l = #d8e2f6
$color-border-d = #969696

$color-dialog-background = #00AEFF
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30

$color-text = #FFFFFF
$color-text-d = #969696
$color-text-highlight = #3c78e6
$color-text-l = #d8e2f6
$color-text-ll = #BBB7C2

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px
$font-size-large-xx = 22px
$font-size-large-xxx = 26px
$font-size-large-icon = 28px